<div class="black">
  <!--======Nav BAr===============================================-->
  <nav    class="navbar navbar-light navbar-fixed-top "  >
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{"Formula" }}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
        <ul class="nav navbar-nav">
          <li class="active tog">

            <a (click)="toggleSideBar()">
              <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"> </span>
             <!-- <i class="fa fa-toggle-on"  *ngIf="toggle"></i>
              <i class="fa fa-toggle-off" *ngIf="!toggle"></i>-->
              <span class="sr-only">(current)</span></a>
          </li>

          <!--<li>
            <a href="#">Link</a>
          </li>-->
          <!--<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>-->

        </ul>

       <!-- <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>-->
        <ul class="nav navbar-nav navbar-right" >
          <li><a href="#"> <span class="glyphicon glyphicon-bell" aria-hidden="true"> </span><br><span>5</span></a></li>
          <li><a href="#"> <span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span><br><span>5</span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="../src/img/Nasta.png" class="imag_nav"> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <!-- <li><a href="#">Action</a></li>
               <li><a href="#">Another action</a></li>
               <li><a href="#">Something else here</a></li>
               <li role="separator" class="divider"></li>
               <li><a href="#">Separated link</a></li>-->
              <li class="dropdown-item"><i class="dropdown-arr"></i></li>
              <li class="dropdown-item"><a href><i class="fa fa-user"></i>Profile</a></li>
              <li class="dropdown-item"><a href><i class="fa fa-cog"></i>Settings</a></li>
              <li class="dropdown-item"><a href class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!--<div class="row">

  <div class='menuleft col-md-2' style="text-align: start">
  <h4 class="punkt">Home</h4>
  <h4 class="punkt" style="margin-top: 0">Tables</h4>
  <h4 class="punkt" style="margin-top: 0">Calendar</h4>
  <h4 class="punkt" style="margin-top: 0">Chat</h4>
  <h4 class="punkt" style="margin-top: 0">Redactor</h4>
  <h4 class="punkt" style="margin-top: 0">Forms</h4>
  </div>
    <div class="col-md-10">
    <app-tables></app-tables>
    </div>
  </div>-->
  <!--<app-tables></app-tables>-->

</div>


