
.card_table{
  margin-top: 8vh;
  margin-left: 8%;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: scroll;

}
.searchin,.addin{
width: 100%;
background-color: rgba(153, 153, 153, 0.13);
border-radius: 5px;
border: 1px solid grey;
height: 4vh;
z-index: 20;
}
.addth{
  text-align: center;
}
.addth>span{
  margin-right: 0.5vw;
  margin-left: 0.5vw;
}
.glyphicon{
  cursor: pointer;
}
input::-webkit-input-placeholder{
  color:grey;
  padding-left: 1vw;

}
.smart>th{
  text-align: center;
}
.smarttable{
  margin-left: 0vw;
  margin-right: 2vw;
}
.manager{
  margin-left: 2vw;
  margin-right: 10vw;
  margin-top: 10vh;
}
.manager>h3{
  margin-left: 2vw;
  margin-bottom: 2vh;
}
.zero{
  width: 10%;
  text-align: center;
}
.first{
  width: 10%;
}
.second{
  width: 60%;
}
.first>span,
.second>span,
.third>span
{
  color: rgba(62, 62, 62, 0.48);
}
span{
  cursor: pointer;
}
.third{
  width: 20%;
}
.pagers{
  width: 100%;
  height: auto;
  text-align: center;
}
#menu ul,li{
  display:inline-block;
}
.smart>th{
  background-color: rgba(238, 232, 35, 0.11);
}
.header{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: center;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1vh 1vh;

  justify-content: space-around;
}
.btn-icon{
  height: 80%;
  margin-top: 1vh;
}

