<aside id="sidebar" class="column-left">

  <header>



  </header>


  <nav id="main_navside">
 <!--   <ul>
      <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true" style="margin-right: 0.2vw"></span></a><a class="icons" href="index.html">Home</a></li>
      <li><a href="examples.html"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="margin-right: 0.2vw"></span></a><a class="icons" href="examples.html">Tables</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-calendar" aria-hidden="true" style="margin-right: 0.2vw"></span></a><a class="icons" href="#">Calendar</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-earphone" aria-hidden="true" style="margin-right: 0.2vw"></span></a><a class="icons" href="#">Feed</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-list" aria-hidden="true" style="margin-right: 0.2vw"></span></a><a class="icons" href="#">Forms</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-object-align-bottom" aria-hidden="true" style="margin-right: 0.2vw"></span><a class="icons" href="#">Diagram</a></a></li>
    </ul>-->
    <div>
      <div class="side"><a routerLink=""><span class="glyphicon glyphicon-home" aria-hidden="true" style="margin-right: 1vw"></span></a><a class="side_menu" routerLink="">Home</a></div>
      <div class="side"><a routerLink="/tables"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="margin-right: 1vw"></span></a><a class="side_menu" routerLink="/tables">Tables</a></div>
      <div class="side"><a href="#"><span class="glyphicon glyphicon-calendar" aria-hidden="true" style="margin-right: 1vw"></span></a><a class="side_menu" href="#">Calendar</a></div>
      <div class="side"><a href="#"><span class="glyphicon glyphicon-transfer" aria-hidden="true" style="margin-right: 1vw"></span></a><a class="side_menu" href="#">Feed</a></div>
      <div class="side"><a href="#"><span class="glyphicon glyphicon-list" aria-hidden="true" style="margin-right: 1vw"></span></a><a class="side_menu" href="#">Forms</a></div>
      <div class="side"><a href="#"><span class="glyphicon glyphicon-object-align-bottom" aria-hidden="true" style="margin-right: 1vw"></span><a class="side_menu" href="#">Diagram</a></a></div>
    </div>
  </nav>



</aside>
